body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

*{box-sizing: border-box;}

table{
  border-collapse:collapse;
  border: 1px solid black;

}
td,th{
  padding:5px 15px;
  text-align:left;
}

nav{
  background-color: darkslategrey;
}