<style>
    *{box-sizing: border-box;}
    table{border-collapse:collapse;}
    td,th{padding:5px 15px;text-align:left;}
    table,th,td{border:1px solid #000;}
</style>

<div>
    <table>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tfoot>
            <tr>
            <td>F</td>
            <td>D</td>
            <td>C-</td>
            <td>C</td>
            <td>C+</td>
            <td>B-</td>
            <td>B</td>
            <td>B+</td>
            <td>A-</td>
            <td>A+</td>
            </tr>
        <tfoot>

    </table>

</div>