<style>
    *{box-sizing: border-box;}
    table{border-collapse:collapse;}
    td,th{padding:5px 15px;text-align:left;}
    table,th,td{border:1px solid #000;}
</style>

<div>
    <table class="histogram">
        <%
        var letterGrades = ['F', 'D', 'C-', 'C', 'C+', 'B-', 'B', 'B+', 'A-', 'A', 'A+']
        for(var i = 5; i>=0; i--){%>
        <tr id="<%=i%>">
            <%for(var j = 0; j<11; j++) {%>
            <td> </td>
            <%}
        }%>
        <tfoot>
            <tr>
                <%letterGrades.forEach(grade =>{%>
                <td><%=grade%></td>
                <%})%>
            </tr>
        <tfoot>
    </table>
</div>

<script>

</script>