<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    <% include ../partials/navbar %>
        <div style="width: 30%; margin: 25px auto;">
            <h1>Compile Grades</h1>
            <form ref= uploadForm
                  id = uploadForm
                  action="/users/compile"
                  method="post"
                  encType="multipart/form-data">
                <div class="form-group">
                    <label>CSV File:
                        <input name="csvfile" type="file">
                        <input type='submit' value='Upload!' />
                    </label>
                </div>
            </form>
        </div>
    </body>
</html>